<h2>Edit Track</h2>

<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label for="album_id">Select Album</label>
  <select id="album_id" name="track[album_id]">
    <% Album.all.each do |album| %>
    <option value="<%=album.id%>" <%= "selected" if album.id == @track.album_id %>><%= album.name %></option>
    <% end %>
  </select>

  <br><br>

  <label for="track_name">Track Name</label>
  <input id="track_name" type="text" name="track[song]" placeholder="<%= @track.song %>">

  <br><br>

  <label for="track_bonus">Bonus Track?</label>
  Bonus<input type="radio" name="track[track_bonus]" value="true" <%= "checked" if @track.track_bonus == true %>>

  Regular<input type="radio" name="track[track_bonus]" value="false" <%= "checked" if @track.track_bonus == false %>>

  <br><br>

  <label for="lyrics">Lyrics</label>
  <textarea id="lyrics"name="track[lyrics]" rows="5" cols="20"><%= @track.lyrics %></textarea>

  <br><br>

  <input type="submit">
</form>
